/*

!/doc/
/doc/*
!/scripts/
/scripts/*
!/templates/
/templates/*

!/.gitignore
!/LICENSE
!/README.md
!/doc/2016_EawagReporting_MiniHowTo.md
!/scripts/amend_docx_styles.sh
!/scripts/compare_old_and_new.py
!/scripts/dora_lookup.py
!/scripts/make_2016.sh
!/scripts/nuke_newlines.sed
!/scripts/prepare_reports.py
!/scripts/preprocess_exports.sh
!/templates/ArticlesTemplate_IF.xlsx
